<!DOCTYPE html>
<html>
<head>
    <title>Add Student | 学生管理系统</title>
</head>
<body>
<div>
    <%= msg%>
</div>
<div>请输入学生信息</div>
<div>
    <form action="/student/new" method="post">
        <div>姓名: <input name="name" type="text"></div>
        <div>学号: <input name="stuNumber" type="text"></div>
        <div>民族: <input name="nation" type="text"></div>
        <div>班级: <input name="classNumber" type="text"></div>
        <div>数学成绩: <input name="math" type="number"></div>
        <div>语文成绩: <input name="chinese" type="number"></div>
        <div>英语成绩: <input name="english" type="number"></div>
        <div>编程成绩: <input name="program" type="number"></div>
        <div><input type="submit" value="添加"></div>
    </form>
</div>
<div><a href="/">back to home</a></div>
</body>
</html>