<!DOCTYPE html>
<html>
<head>
    <title>Add Student | 学生管理系统</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<%- include('./nav');%>

<div class="container text-center">

    <h2>请输入学生信息</h2>
    <div>
        <div>姓名: <input name="name" type="text"></div>
        <div>学号: <input name="stuNumber" type="text"></div>
        <div>民族: <input name="nation" type="text"></div>
        <div>班级: <input name="classNumber" type="text"></div>
        <div>数学成绩: <input name="math" type="number"></div>
        <div>语文成绩: <input name="chinese" type="number"></div>
        <div>英语成绩: <input name="english" type="number"></div>
        <div>编程成绩: <input name="program" type="number"></div>
        <div id="msg"><span></span></div>
        <div><button onclick="addStudent()">添加</button></div>
    </div>
    <div><a href="/">back to home</a></div>
</div>
<script src="/js/addStudent.js"></script>
</body>
</html>