<!DOCTYPE html>
<html>
<head>
    <title>GoodBye | 学生管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<%- include('./nav');%>

<div>Goodbye!</div>
</body>
</html>