<!DOCTYPE html>
<html>
<head>
    <title>Homepage | 学生管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<%- include('./nav');%>

<div class="div-center text-center">
    <h3>欢迎来到学生管理系统!</h3>
    <h4>请在导航栏选择功能</h4>
</div>

</body>
</html>