<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">学生管理系统</a></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/student/new">添加学生信息</a></li>
                <li><a href="/query/score">查询成绩单</a></li>
                <li><a href="/goodbye">离开系统</a></li>
            </ul>
        </div>
    </div>
</nav>