<!DOCTYPE html>
<html>
<head>
    <title>Query Score | 学生管理系统</title>
    <script src="./js/ejs.min.js"></script>
</head>
<body>
<div>请输入要查询的学号: (学号,学号...)</div>
<div>
    <form action="/score/form" method="get">
        <div>学号: <input type="text"></div>
        <div><input type="submit" value="查询"></div>
    </form>
</div>
</body>
</html>