<!DOCTYPE html>
<html>
<head>
    <title>Score Form | 学生管理系统</title>
    <script src="/web/public/js/ejs.min.js"></script>
</head>
<body>
<div>
    <%- scoreForm%>
</div>
<div><a href="/">back to home</a></div>
</body>
</html>